---
import ButtonPrimary from '../components/buttons/button-primary.astro';
import Layout from '../layouts/Layout.astro';
import profile from '../assets/images/anas-is-a-design-engineer.webp';
import writing from '../assets/images/design-writing.webp';
import resume from '../assets/images/design-engineer-resume.webp';
import workOne from '../assets/images/work-1.webp';
import workTwo from '../assets/images/work-2.webp';
import workThree from '../assets/images/work-3.webp';
import { Image } from 'astro:assets';

const seo = {
    // title: 'Astro Boilerplate - Home',
    // description: 'A minimal and powerful Astro boilerplate for fast web development.',
    // social: {
    //     facebook: {
    //         title: 'Astro Boilerplate - Facebook',
    //         description: 'A minimal starter built with Astro. Fast, clean and scalable.',
    //         image: {
    //             url: '/cover-home.jpg' // You can change this path if you have a different image
    //         }
    //     },
    //     twitter: {
    //         creator: '@anas_dev',
    //         title: 'Astro Boilerplate - Twitter',
    //         description: 'Start fast with this clean Astro boilerplate.',
    //         image: {
    //             url: '/cover-home.jpg'
    //         }
    //     }
    // },
    // advanced: {
    //     robots: ['index', 'follow'],
    //     canonical: 'https://yourdomain.com/' // replace with your real domain
    // }
};
---

<Layout title="Home" seo={seo}>
    <section class="container max-w-lg mt-45">
        <h1 class="text-h1 text-center leading-[1.4] clip-gradient">
            The bridge between<br />code & design
        </h1>
        <div class="w-fit flex items-center gap-1.25 bg-dark-gray rounded-full p-1.5 mx-auto mt-5">
            <ButtonPrimary label="Hire me" />
            <ButtonPrimary type="secondary" label="Contact" />
        </div>
    </section>

    <section
        class="container w-fit grid grid-cols-1 xs:grid-cols-2 md:grid-cols-4 items-center gap-x-20 gap-y-30 mt-28"
    >
        <a href="/work" class="block relative w-fit h-fit mx-auto">
            <Image
                src={workOne}
                class={'absolute top-1/2 left-1/2 -translate-1/2 -rotate-10 object-cover rounded-[0.25vw]'}
                width={110}
                height={200}
                alt={'Design engineer'}
            />
            <Image
                src={workTwo}
                class={'absolute top-1/2 left-1/2 -translate-1/2 rotate-12 object-cover rounded-[0.25vw]'}
                width={110}
                height={200}
                alt={'Design engineer'}
            />
            <Image
                src={workThree}
                class={'relative object-cover rounded-[0.25vw]'}
                width={175}
                height={114}
                alt={'Design engineer'}
            />
            <ButtonPrimary
                class="absolute top-1/2 left-1/2 -translate-1/2 whitespace-nowrap"
                type="blur"
                label="View work"
            />
        </a>

        <a
            href="/about"
            class="block w-fit h-fit mx-auto border-5 border-soft-gray rounded-[3vw] overflow-hidden scale-86"
        >
            <Image
                src={profile}
                class={'object-cover'}
                width={190}
                height={190}
                alt={'Design engineer'}
            />
        </a>

        <a href="/writing" class="block relative w-fit h-fit mx-auto">
            <Image
                src={writing}
                class={'object-cover translate-x-3/10 rounded-[2.25vw]'}
                width={120}
                height={120}
                alt={'Design engineer'}
            />
            <div
                class="absolute bottom-0 translate-y-12/10 text-label text-center whitespace-nowrap leading-[1.3]"
            >
                Writes and posts<br />I shared
            </div>
            <Image
                src={writing}
                class={'absolute top-0 -translate-x-3/10 -translate-y-2/10 -rotate-10 object-cover rounded-[2.25vw] shadow shadow-soft-gray'}
                width={120}
                height={120}
                alt={'Writing paper widget'}
            />
        </a>

        <a href="/resume" class="relative w-fit h-fit mx-auto flex flex-col text-h2 leading-[1]">
            <span>RESUME</span>
            <span>RESUME</span>
            <span>RESUME</span>
            <span>RESUME</span>
            <span>RESUME</span>
            <Image
                src={resume}
                class={'absolute top-1/2 left-1/2 -translate-1/2 object-cover rounded-[1vw]'}
                width={95}
                height={135}
                alt={'Resume'}
            />
        </a>
    </section>

    <section class="container max-w-lg text-base text-center mt-32 mb-12.5">
        <!-- <p>
            Hello le monde! I'm Anas, a design engineer specialized in the web. I bridge design and
            development into seamless, engaging digital products. Currently working on new ideas &
            design experiments.
        </p> -->
        <p class="mt-6.25">Open to work and new challenges.</p>
    </section>
</Layout>
